// Place all the styles related to the Poems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.poem {
  padding-top: 10px;
  border-bottom: solid 1px #ccc;
  display:table;
  width:100%;
}

.vote {
  border: solid 1px #ccc;
  width: 15%;
  padding: 10px;
  margin: 15px;
}